*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    background-image: url("newback.jpg");
    background-size: cover;
}

.main{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo{
    color: rgb(255, 0, 0);
    font-size: large;
    font-weight: 900;
    position: relative;
    left: 100px;
}

#lang{
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: rgb(35, 33, 33);
    color: white;
   border: transparent;
   
}

#languages{
    height: 30px;
    width: 150px;
    border: 1px solid white;
    background-color: rgb(35, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    left: 400px;
}

i{
    color: white;
}

button{
    color: white;
    background-color: red;
    width: 76px;
    height: 32px;
    font-weight: 900;
    font-size: medium;
    border-radius: 5px;
    position: relative;
    right: 150px;
}

.main_content{
    width: 1000px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#data{
    width: 800px;
    height: 200px;
    color: white;
    line-height: 40px;
}
p{
    font-size: large;
}
h1{
    font-weight: 900;
}

#btn{
    width: 209px;
    height: 56px;
    position: relative;
    left: 0.05px;
    border-radius: 10px;
    color: black;
    background-color: red;
}

#cred{
    display: flex;
    align-items: center;
    justify-content:space-around;

}

#input{
    width: 500px;
    height: 56px;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    
}